* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    /* border: 1px solid; */

}

.header {
  background: linear-gradient(135deg, #ff69b4, #ffc0cb);
  color: white;
  padding: 10px 20px;
  font-size: 28px;
  text-align: center;
  font-style: italic;
}

.header h1 {
  color: white;
}
.main-menu {
  list-style: none;
  background: #333;
  text-align: center;
}

.main-menu li {
  display: inline;
  font-size: 20px;
}

.main-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: background 0.3s ease;
}

.main-menu a:hover {
  background: #50b3a2;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2 {
  color: #333;
}

.faq-section {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: auto;
}

.question {
  font-weight: bold;
  color: #007BFF;
}

.answer {
  margin-top: 5px;
}

.footer {
  background: rgb(229, 213, 222);
  text-align: center;
  padding: 2rem;
}

.footer-links, .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.footer-link {
  color: rgb(167, 105, 214);
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: blueviolet;
}

.social-icons a {
  color: #333;
  font-size: 30px;
  margin: 0 10px;
}

.social-icons a:hover {
  color: yellowgreen;
}

.copyright {
  text-transform: capitalize;
  color: #5e6282;
  font-size: 0.88889rem;
}